<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="../fonts/awesome/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../plugins/swiper/swiper-3.4.2.min.css" rel="stylesheet" type="text/css">
    <link href="../css/common/reset.css" rel="stylesheet" type="text/css">
    <link href="../css/common/common.css" rel="stylesheet" type="text/css">
    <link href="../css/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../plugins/jquery/jquery-1.11.3.min.js"></script>
    <title>迅达云成SpeedyCloud</title>
</head>
    <body>
        <!-- 首页头部 -->
        <div class="index-header">
            <div class="w1200 header-cont">
                <nav class="clearfix trans-normal header-nav">
                    <!-- 首页logo -->
                    <div class="fl nav-logo">
                        <h1 class="dis-i">
                            <a href="index.html" title="迅达云成SpeedyCloud" target="_blank">
                                <img src="../images/logo.png" alt="迅达云成SpeedyCloud首页" title="迅达云成SpeedyCloud首页" />
                            </a>
                        </h1>
                    </div>
                    <!-- 首页导航链接 -->
                    <div class="fl nav-link">
                        <ul class="clearfix dis-i nav-list">
                            <li class="nav-item">
                                <h2>产品服务</h2>
                                <div class="clearfix nav-item-content">
                                    <div class="fl nav-item-class">
                                        <ul class="nav-class-list">
                                            <li class="nav-class-item active">
                                                计算
                                                <i class="fa fa-angle-right"></i>
                                                <div class="nav-item-product calculation" style="display: block;">
                                                    <a class="item-product-link yzj">
                                                        <span class="item-product-title">云主机</span>
                                                        <span class="item-product-details">弹性扩展，多种硬件配置及操作系统</span>
                                                    </a>
                                                    <a class="item-product-link">
                                                        <span class="item-product-title">大数据</span>
                                                        <span class="item-product-details">提供主流的大数据平台服务，按需分配资源，弹性扩展</span>
                                                    </a>
                                                    <a class="item-product-link">
                                                        <span class="item-product-title">混合云</span>
                                                        <span class="item-product-details">提供云平台和客户私有设备托管的混合部署服务，提升业务拓展能力</span>
                                                    </a>
                                                    <a class="item-product-link">
                                                        <span class="item-product-title">私有云</span>
                                                        <span class="item-product-details">帮助企业客户快速实现运载企业内部的落地</span>
                                                    </a>
                                                    <a class="clear-margin-b item-product-link">
                                                        <span class="item-product-title">桌面云</span>
                                                        <span class="item-product-details">为用户提供随需访问的云桌面，对数据、安全性和服务质量进行最有效控制</span>
                                                    </a>
                                                    <a class="clear-margin-b item-product-link">
                                                        <span class="item-product-title">托管云</span>
                                                        <span class="item-product-details">用户独享专属物力资源，满足客户合规和独享资源池的需求</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="nav-class-item">
                                                网络
                                                <i class="fa fa-angle-right"></i>
                                                <div class="nav-item-product network">
                                                    <a class="item-product-link yzj">
                                                        <span class="item-product-title">网络11111</span>
                                                        <span class="item-product-details">弹性扩展，多种硬件配置及操作系统</span>
                                                    </a>
                                                    <a class="item-product-link">
                                                        <span class="item-product-title">网络11111</span>
                                                        <span class="item-product-details">提供主流的大数据平台服务，按需分配资源，弹性扩展</span>
                                                    </a>
                                                    <a class="item-product-link">
                                                        <span class="item-product-title">网络11111</span>
                                                        <span class="item-product-details">提供云平台和客户私有设备托管的混合部署服务，提升业务拓展能力</span>
                                                    </a>
                                                    <a class="item-product-link">
                                                        <span class="item-product-title">网络11111</span>
                                                        <span class="item-product-details">帮助企业客户快速实现运载企业内部的落地</span>
                                                    </a>
                                                    <a class="clear-margin-b item-product-link">
                                                        <span class="item-product-title">网络11111</span>
                                                        <span class="item-product-details">为用户提供随需访问的云桌面，对数据、安全性和服务质量进行最有效控制</span>
                                                    </a>
                                                    <a class="clear-margin-b item-product-link">
                                                        <span class="item-product-title">网络11111</span>
                                                        <span class="item-product-details">用户独享专属物力资源，满足客户合规和独享资源池的需求</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="nav-class-item">
                                                数据与存储
                                                <i class="fa fa-angle-right"></i>
                                                <div class="nav-item-product storage">
                                                    <a class="item-product-link yzj">
                                                        <span class="item-product-title">数据与存储11111</span>
                                                        <span class="item-product-details">弹性扩展，多种硬件配置及操作系统</span>
                                                    </a>
                                                    <a class="item-product-link">
                                                        <span class="item-product-title">数据与存储11111</span>
                                                        <span class="item-product-details">提供主流的大数据平台服务，按需分配资源，弹性扩展</span>
                                                    </a>
                                                    <a class="item-product-link">
                                                        <span class="item-product-title">数据与存储11111</span>
                                                        <span class="item-product-details">提供云平台和客户私有设备托管的混合部署服务，提升业务拓展能力</span>
                                                    </a>
                                                    <a class="item-product-link">
                                                        <span class="item-product-title">数据与存储11111</span>
                                                        <span class="item-product-details">帮助企业客户快速实现运载企业内部的落地</span>
                                                    </a>
                                                    <a class="clear-margin-b item-product-link">
                                                        <span class="item-product-title">数据与存储11111</span>
                                                        <span class="item-product-details">为用户提供随需访问的云桌面，对数据、安全性和服务质量进行最有效控制</span>
                                                    </a>
                                                    <a class="clear-margin-b item-product-link">
                                                        <span class="item-product-title">数据与存储11111</span>
                                                        <span class="item-product-details">用户独享专属物力资源，满足客户合规和独享资源池的需求</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="nav-class-item">
                                                视频
                                                <i class="fa fa-angle-right"></i>
                                                <div class="nav-item-product video">
                                                    <a class="item-product-link yzj">
                                                        <span class="item-product-title">视频11111</span>
                                                        <span class="item-product-details">弹性扩展，多种硬件配置及操作系统</span>
                                                    </a>
                                                    <a class="item-product-link">
                                                        <span class="item-product-title">视频11111</span>
                                                        <span class="item-product-details">提供主流的大数据平台服务，按需分配资源，弹性扩展</span>
                                                    </a>
                                                    <a class="item-product-link">
                                                        <span class="item-product-title">视频11111</span>
                                                        <span class="item-product-details">提供云平台和客户私有设备托管的混合部署服务，提升业务拓展能力</span>
                                                    </a>
                                                    <a class="item-product-link">
                                                        <span class="item-product-title">视频11111</span>
                                                        <span class="item-product-details">帮助企业客户快速实现运载企业内部的落地</span>
                                                    </a>
                                                    <a class="clear-margin-b item-product-link">
                                                        <span class="item-product-title">视频11111</span>
                                                        <span class="item-product-details">为用户提供随需访问的云桌面，对数据、安全性和服务质量进行最有效控制</span>
                                                    </a>
                                                    <a class="clear-margin-b item-product-link">
                                                        <span class="item-product-title">视频11111</span>
                                                        <span class="item-product-details">用户独享专属物力资源，满足客户合规和独享资源池的需求</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="nav-class-item">
                                                数据中心
                                                <i class="fa fa-angle-right"></i>
                                                <div class="nav-item-product calculation">
                                                    <a class="item-product-link yzj">
                                                        <span class="item-product-title">数据中心111111</span>
                                                        <span class="item-product-details">弹性扩展，多种硬件配置及操作系统</span>
                                                    </a>
                                                    <a class="item-product-link">
                                                        <span class="item-product-title">数据中心111111</span>
                                                        <span class="item-product-details">提供主流的大数据平台服务，按需分配资源，弹性扩展</span>
                                                    </a>
                                                    <a class="item-product-link">
                                                        <span class="item-product-title">数据中心111111</span>
                                                        <span class="item-product-details">提供云平台和客户私有设备托管的混合部署服务，提升业务拓展能力</span>
                                                    </a>
                                                    <a class="item-product-link">
                                                        <span class="item-product-title">数据中心111111</span>
                                                        <span class="item-product-details">帮助企业客户快速实现运载企业内部的落地</span>
                                                    </a>
                                                    <a class="clear-margin-b item-product-link">
                                                        <span class="item-product-title">数据中心111111</span>
                                                        <span class="item-product-details">为用户提供随需访问的云桌面，对数据、安全性和服务质量进行最有效控制</span>
                                                    </a>
                                                    <a class="clear-margin-b item-product-link">
                                                        <span class="item-product-title">数据中心111111</span>
                                                        <span class="item-product-details">用户独享专属物力资源，满足客户合规和独享资源池的需求</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="nav-class-item">
                                                安全与管理
                                                <i class="fa fa-angle-right"></i>
                                                <div class="nav-item-product calculation">
                                                    <a class="item-product-link yzj">
                                                        <span class="item-product-title">安全与管理11111</span>
                                                        <span class="item-product-details">弹性扩展，多种硬件配置及操作系统</span>
                                                    </a>
                                                    <a class="item-product-link">
                                                        <span class="item-product-title">安全与管理11111</span>
                                                        <span class="item-product-details">提供主流的大数据平台服务，按需分配资源，弹性扩展</span>
                                                    </a>
                                                    <a class="item-product-link">
                                                        <span class="item-product-title">安全与管理11111</span>
                                                        <span class="item-product-details">提供云平台和客户私有设备托管的混合部署服务，提升业务拓展能力</span>
                                                    </a>
                                                    <a class="item-product-link">
                                                        <span class="item-product-title">安全与管理11111</span>
                                                        <span class="item-product-details">帮助企业客户快速实现运载企业内部的落地</span>
                                                    </a>
                                                    <a class="clear-margin-b item-product-link">
                                                        <span class="item-product-title">安全与管理11111</span>
                                                        <span class="item-product-details">为用户提供随需访问的云桌面，对数据、安全性和服务质量进行最有效控制</span>
                                                    </a>
                                                    <a class="clear-margin-b item-product-link">
                                                        <span class="item-product-title">安全与管理11111</span>
                                                        <span class="item-product-details">用户独享专属物力资源，满足客户合规和独享资源池的需求</span>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fr nav-item-pic">
                                        <a href="#">
                                            <img src="../images/nav-pic.png" alt="现在注册 免费体验30款产品" title="现在注册 免费体验30款产品" />
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <h2>解决方案</h2>
                            </li>
                            <li class="nav-item">
                                <h2>帮助中心</h2>
                            </li>
                            <li class="nav-item">
                                <h2>客户案例</h2>
                            </li>
                            <li class="nav-item">
                                <h2>新闻动态</h2>
                            </li>
                            <li class="nav-item">
                                <h2>关于我们</h2>
                            </li>
                        </ul>
                    </div>
                    <!-- 首页管理平台 -->
                    <div class="fr nav-manage">
                        <ul class="clearfix">
                            <li class="manage-console">
                                <a href="#">控制台</a>
                            </li>
                            <li class="manage-login">
                                <a href="#">登录</a>
                            </li>
                            <li class="manage-register">
                                <a href="#" class="btn btn-primary">注册</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- 首页头部轮播图 -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slide-text-info">
                                <div class="slide-title">
                                    <h3>海外节点最多的本土云计算提供商</h3>
                                    <p>海外11个节点，国内9个节点，120个分发点，助您迅速部署全球业务</p>
                                </div>
                                <div class="slide-button-group clearfix">
                                    <a href="#" class="slide-button solid">查看详情</a>
                                    <a href="#" class="slide-button hollow">
                                        <i class="fa fa-play-circle-o"></i>
                                        查看视频
                                    </a>
                                </div>
                            </div>
                            <div class="slide-pic-info">
                                <img src="../images/banner-pic.png" />
                            </div>
                        </div>
                        <div class="swiper-slide">Slide 2</div>
                        <div class="swiper-slide">Slide 3</div>
                        <div class="swiper-slide">Slide 4</div>
                        <div class="swiper-slide">Slide 5</div>
                    </div>
                    <!-- 分页器 -->
                    <div class="swiper-pagination"></div>
                </div>
                <div class="index-activity-cont clearfix">
                    <a href="" title="SpeedyCloud - 海外节点最多的中国云服务商" class="index-activity-link">
                        <span class="index-activity-text">
                            <mark>SpeedyCloud</mark><br/>
                            海外节点最多的中国云服务商
                        </span>
                        <i class="index-activity-icon">···</i>
                        <img src="../images/index/index-activity-1.png" alt="SpeedyCloud - 海外节点最多的中国云服务商" />
                    </a>
                    <a href="" title="迅达云与海航创新科技 - 达成战略合作" class="index-activity-link center">
                        <span class="index-activity-text">
                            迅达云与海航创新科技<br/>
                            <mark>达成战略合作</mark>
                        </span>
                        <i class="index-activity-icon">···</i>
                        <img src="../images/index/index-activity-2.png" alt="迅达云与海航创新科技 - 达成战略合作" />
                    </a>
                    <a href="" title="一站式服务 - 轻松完成所有资源的创建和配置" class="index-activity-link">
                        <span class="index-activity-text">
                            <mark>一站式服务</mark><br/>
                            轻松完成所有资源的创建和配置
                        </span>
                        <i class="index-activity-icon">···</i>
                        <img src="../images/index/index-activity-3.png" alt="一站式服务 - 轻松完成所有资源的创建和配置" />
                    </a>
                </div>
            </div>
        </div>
    <script type="text/javascript" src="../plugins/swiper/swiper-3.4.2.jquery.min.js"></script>
    <script src="../js/index.js"></script>
    </body>
</html>